JSF_OMS/src/conf/xml-resources/web-service-references/consultarProductos/wsdl/192.168.0.8_8686/ServicioOMSProductosSA/consultarProductos.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicioomsproductos.kallsonys.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicioomsproductos.kallsonys.com/">

<xs:element name="consultarPRODUCTOS_DESCRIPCION" type="tns:consultarPRODUCTOS_DESCRIPCION"/>

<xs:element name="consultarPRODUCTOS_DESCRIPCIONResponse" type="tns:consultarPRODUCTOS_DESCRIPCIONResponse"/>

<xs:element name="consultarPRODUCTOS_ID" type="tns:consultarPRODUCTOS_ID"/>

<xs:element name="consultarPRODUCTOS_IDResponse" type="tns:consultarPRODUCTOS_IDResponse"/>

<xs:element name="consultarPRODUCTOS_LISTA" type="tns:consultarPRODUCTOS_LISTA"/>

<xs:element name="consultarPRODUCTOS_LISTAResponse" type="tns:consultarPRODUCTOS_LISTAResponse"/>

<xs:element name="consultarPRODUCTOS_NOMBRE" type="tns:consultarPRODUCTOS_NOMBRE"/>

<xs:element name="consultarPRODUCTOS_NOMBREResponse" type="tns:consultarPRODUCTOS_NOMBREResponse"/>

<xs:complexType name="consultarPRODUCTOS_DESCRIPCION">
<xs:sequence>
<xs:element name="DESCRIPCION" type="xs:string" minOccurs="0"/>
<xs:element name="NUMERO_PAGINA" type="xs:int"/>
<xs:element name="TAMANO_PAGINA" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarPRODUCTOS_DESCRIPCIONResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="CANTIDAD_REGISTROS" type="xs:int"/>
<xs:element name="CATEGORIA" type="xs:string" minOccurs="0"/>
<xs:element name="DESCRIPCION" type="xs:string" minOccurs="0"/>
<xs:element name="FABRICANTE" type="xs:string" minOccurs="0"/>
<xs:element name="ID" type="xs:int"/>
<xs:element name="IMAGEN_URL" type="xs:string" minOccurs="0"/>
<xs:element name="NOMBRE" type="xs:string" minOccurs="0"/>
<xs:element name="PRECIO_LISTA" type="xs:int"/>
<xs:element name="PRODUCTO_ID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarPRODUCTOS_ID">
<xs:sequence>
<xs:element name="ID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarPRODUCTOS_IDResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarPRODUCTOS_LISTA">
<xs:sequence>
<xs:element name="NUMERO_PAGINA" type="xs:int"/>
<xs:element name="TAMANO_PAGINA" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarPRODUCTOS_LISTAResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarPRODUCTOS_NOMBRE">
<xs:sequence>
<xs:element name="NOMBRE" type="xs:string" minOccurs="0"/>
<xs:element name="NUMERO_PAGINA" type="xs:int"/>
<xs:element name="TAMANO_PAGINA" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarPRODUCTOS_NOMBREResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>