JSF_OMS/web/WEB-INF/wsdl/consultarProductos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicioomsproductos.kallsonys.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicioomsproductos.kallsonys.com/" name="consultarProductos">
<types>
<xsd:schema>
<xsd:import namespace="http://servicioomsproductos.kallsonys.com/" schemaLocation="http://localhost:8686/ServicioOMSProductosSA/consultarProductos?xsd=1"/>
</xsd:schema>
</types>
<message name="consultarPRODUCTOS_DESCRIPCION">
<part name="parameters" element="tns:consultarPRODUCTOS_DESCRIPCION"/>
</message>
<message name="consultarPRODUCTOS_DESCRIPCIONResponse">
<part name="parameters" element="tns:consultarPRODUCTOS_DESCRIPCIONResponse"/>
</message>
<message name="consultarPRODUCTOS_LISTA">
<part name="parameters" element="tns:consultarPRODUCTOS_LISTA"/>
</message>
<message name="consultarPRODUCTOS_LISTAResponse">
<part name="parameters" element="tns:consultarPRODUCTOS_LISTAResponse"/>
</message>
<message name="consultarPRODUCTOS_ID">
<part name="parameters" element="tns:consultarPRODUCTOS_ID"/>
</message>
<message name="consultarPRODUCTOS_IDResponse">
<part name="parameters" element="tns:consultarPRODUCTOS_IDResponse"/>
</message>
<message name="consultarPRODUCTOS_NOMBRE">
<part name="parameters" element="tns:consultarPRODUCTOS_NOMBRE"/>
</message>
<message name="consultarPRODUCTOS_NOMBREResponse">
<part name="parameters" element="tns:consultarPRODUCTOS_NOMBREResponse"/>
</message>
<portType name="consultarProductos">
<operation name="consultarPRODUCTOS_DESCRIPCION">
<input wsam:Action="http://localhost/consultarPRODUCTOS_DESCRIPCION" message="tns:consultarPRODUCTOS_DESCRIPCION"/>
<output wsam:Action="http://servicioomsproductos.kallsonys.com/consultarProductos/consultarPRODUCTOS_DESCRIPCIONResponse" message="tns:consultarPRODUCTOS_DESCRIPCIONResponse"/>
</operation>
<operation name="consultarPRODUCTOS_LISTA">
<input wsam:Action="http://localhost/consultarPRODUCTOS_LISTA" message="tns:consultarPRODUCTOS_LISTA"/>
<output wsam:Action="http://servicioomsproductos.kallsonys.com/consultarProductos/consultarPRODUCTOS_LISTAResponse" message="tns:consultarPRODUCTOS_LISTAResponse"/>
</operation>
<operation name="consultarPRODUCTOS_ID">
<input wsam:Action="http://localhost/consultarPRODUCTOS_ID" message="tns:consultarPRODUCTOS_ID"/>
<output wsam:Action="http://servicioomsproductos.kallsonys.com/consultarProductos/consultarPRODUCTOS_IDResponse" message="tns:consultarPRODUCTOS_IDResponse"/>
</operation>
<operation name="consultarPRODUCTOS_NOMBRE">
<input wsam:Action="http://localhost/consultarPRODUCTOS_NOMBRE" message="tns:consultarPRODUCTOS_NOMBRE"/>
<output wsam:Action="http://servicioomsproductos.kallsonys.com/consultarProductos/consultarPRODUCTOS_NOMBREResponse" message="tns:consultarPRODUCTOS_NOMBREResponse"/>
</operation>
</portType>
<binding name="consultarProductosPortBinding" type="tns:consultarProductos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultarPRODUCTOS_DESCRIPCION">
<soap:operation soapAction="http://localhost/consultarPRODUCTOS_DESCRIPCION"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarPRODUCTOS_LISTA">
<soap:operation soapAction="http://localhost/consultarPRODUCTOS_LISTA"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarPRODUCTOS_ID">
<soap:operation soapAction="http://localhost/consultarPRODUCTOS_ID"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarPRODUCTOS_NOMBRE">
<soap:operation soapAction="http://localhost/consultarPRODUCTOS_NOMBRE"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="consultarProductos">
<port name="consultarProductosPort" binding="tns:consultarProductosPortBinding">
<soap:address location="http://localhost:8686/ServicioOMSProductosSA/consultarProductos"/>
</port>
</service>
</definitions>