JSF_OMS/web/WEB-INF/wsdl/localhost_9763/services/dataServiceOrdenes.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://pica.com/dss/ordenes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://ws.wso2.org/dataservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://pica.com/dss/ordenes">
    <wsdl:documentation/>
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://pica.com/dss/ordenes">
            <xs:element name="InsertarItemOP">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="PRODID_IN" nillable="true" type="xs:int"/>
                        <xs:element name="PRODUCTNAME_IN" nillable="true" type="xs:string"/>
                        <xs:element name="PARTNUM_IN" nillable="true" type="xs:string"/>
                        <xs:element name="PRICE_IN" nillable="true" type="xs:decimal"/>
                        <xs:element name="QUANTITY_IN" nillable="true" type="xs:int"/>
                        <xs:element name="ORDID_IN" nillable="true" type="xs:string"/>
                        <xs:element name="CATEGORIA_IN" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="itemIdGroup" type="ns0:itemIdGroup"/>
            <xs:complexType name="itemIdGroup">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="itemId" type="ns0:itemId"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="itemId">
                <xs:sequence>
                    <xs:element name="itemidout" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="InsertarOrdenOP">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="customerID" nillable="true" type="xs:string"/>
                        <xs:element name="Fecha" nillable="true" type="xs:dateTime"/>
                        <xs:element name="Precio" nillable="true" type="xs:decimal"/>
                        <xs:element name="Estado" nillable="true" type="xs:string"/>
                        <xs:element name="Comentario" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Elementos" type="ns0:Elementos"/>
            <xs:complexType name="Elementos">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="elemento" type="ns0:elemento"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="elemento">
                <xs:sequence>
                    <xs:element name="OrdenID" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="wsCrearIDOrdenOP">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Entries" type="ns0:Entries"/>
            <xs:complexType name="Entries">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Entry" type="ns0:Entry"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Entry">
                <xs:sequence>
                    <xs:element name="nextval" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.wso2.org/dataservice">
            <xs:element name="DataServiceFault">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="current_params" type="xs:string"/>
                        <xs:element name="current_request_name" type="xs:string"/>
                        <xs:element name="nested_exception" type="xs:string"/>
                        <xs:element name="source_data_service">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="location" type="xs:string"/>
                                    <xs:element name="default_namespace" type="xs:string"/>
                                    <xs:element name="description" type="xs:string"/>
                                    <xs:element name="data_service_name" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ds_code" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="REQUEST_STATUS" type="xs:string"/>
            <xs:element name="DATA_SERVICE_RESPONSE">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="InsertarItemOPRequest">
        <wsdl:part name="parameters" element="ns0:InsertarItemOP"/>
    </wsdl:message>
    <wsdl:message name="InsertarItemOPResponse">
        <wsdl:part name="parameters" element="ns0:itemIdGroup"/>
    </wsdl:message>
    <wsdl:message name="DataServiceFault">
        <wsdl:part name="parameters" element="ns1:DataServiceFault"/>
    </wsdl:message>
    <wsdl:message name="InsertarOrdenOPRequest">
        <wsdl:part name="parameters" element="ns0:InsertarOrdenOP"/>
    </wsdl:message>
    <wsdl:message name="InsertarOrdenOPResponse">
        <wsdl:part name="parameters" element="ns0:Elementos"/>
    </wsdl:message>
    <wsdl:message name="wsCrearIDOrdenOPRequest">
        <wsdl:part name="parameters" element="ns0:wsCrearIDOrdenOP"/>
    </wsdl:message>
    <wsdl:message name="wsCrearIDOrdenOPResponse">
        <wsdl:part name="parameters" element="ns0:Entries"/>
    </wsdl:message>
    <wsdl:portType name="dataServiceOrdenesPortType">
        <wsdl:operation name="InsertarItemOP">
            <wsdl:documentation/>
            <wsdl:input message="ns0:InsertarItemOPRequest" wsaw:Action="urn:InsertarItemOP"/>
            <wsdl:output message="ns0:InsertarItemOPResponse" wsaw:Action="urn:InsertarItemOPResponse"/>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:InsertarItemOPDataServiceFault"/>
        </wsdl:operation>
        <wsdl:operation name="InsertarOrdenOP">
            <wsdl:documentation/>
            <wsdl:input message="ns0:InsertarOrdenOPRequest" wsaw:Action="urn:InsertarOrdenOP"/>
            <wsdl:output message="ns0:InsertarOrdenOPResponse" wsaw:Action="urn:InsertarOrdenOPResponse"/>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:InsertarOrdenOPDataServiceFault"/>
        </wsdl:operation>
        <wsdl:operation name="wsCrearIDOrdenOP">
            <wsdl:documentation/>
            <wsdl:input message="ns0:wsCrearIDOrdenOPRequest" wsaw:Action="urn:wsCrearIDOrdenOP"/>
            <wsdl:output message="ns0:wsCrearIDOrdenOPResponse" wsaw:Action="urn:wsCrearIDOrdenOPResponse"/>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:wsCrearIDOrdenOPDataServiceFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="dataServiceOrdenesSOAP11Binding" type="ns0:dataServiceOrdenesPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="InsertarItemOP">
            <soap:operation soapAction="urn:InsertarItemOP" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="InsertarOrdenOP">
            <soap:operation soapAction="urn:InsertarOrdenOP" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="wsCrearIDOrdenOP">
            <soap:operation soapAction="urn:wsCrearIDOrdenOP" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="dataServiceOrdenesSOAP12Binding" type="ns0:dataServiceOrdenesPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="InsertarItemOP">
            <soap12:operation soapAction="urn:InsertarItemOP" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="InsertarOrdenOP">
            <soap12:operation soapAction="urn:InsertarOrdenOP" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="wsCrearIDOrdenOP">
            <soap12:operation soapAction="urn:wsCrearIDOrdenOP" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="dataServiceOrdenesHttpBinding" type="ns0:dataServiceOrdenesPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="InsertarItemOP">
            <http:operation location="InsertarItemOP"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="InsertarOrdenOP">
            <http:operation location="InsertarOrdenOP"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="wsCrearIDOrdenOP">
            <http:operation location="wsCrearIDOrdenOP"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="dataServiceOrdenes">
        <wsdl:port name="SecureSOAP11Endpoint" binding="ns0:dataServiceOrdenesSOAP11Binding">
            <soap:address location="https://10.85.0.100:9446/services/dataServiceOrdenes.SecureSOAP11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SOAP11Endpoint" binding="ns0:dataServiceOrdenesSOAP11Binding">
            <soap:address location="http://10.85.0.100:9766/services/dataServiceOrdenes.SOAP11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SecureSOAP12Endpoint" binding="ns0:dataServiceOrdenesSOAP12Binding">
            <soap12:address location="https://10.85.0.100:9446/services/dataServiceOrdenes.SecureSOAP12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SOAP12Endpoint" binding="ns0:dataServiceOrdenesSOAP12Binding">
            <soap12:address location="http://10.85.0.100:9766/services/dataServiceOrdenes.SOAP12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SecureHTTPEndpoint" binding="ns0:dataServiceOrdenesHttpBinding">
            <http:address location="https://10.85.0.100:9446/services/dataServiceOrdenes.SecureHTTPEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="HTTPEndpoint" binding="ns0:dataServiceOrdenesHttpBinding">
            <http:address location="http://10.85.0.100:9766/services/dataServiceOrdenes.HTTPEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>